NEXT_PUBLIC_ENCRYPT_KEY=
NEXT_PUBLIC_SERVICES_END_POINT_URL=
NEXT_PUBLIC_ENVIRONMENT=
NEXT_PUBLIC_MF=

NEXT_PUBLIC_MY_PRODUCTS_HOME_MF_END_POINT_URL=
NEXT_PUBLIC_SEND_CASH_HOME_MF_END_POINT_URL=
NEXT_PUBLIC_PAY_HOME_MF_END_POINT_URL=
NEXT_PUBLIC_BRING_CASH_HOME_MF_END_POINT_URL=
NEXT_PUBLIC_VOUCHERS_HOME_MF_END_POINT_URL=
NEXT_PUBLIC_REQUESTS_HOME_MF_END_POINT_URL=
