$shadow: rgba(108, 117, 125, 0.09);

$shadow-1: rgba(255, 207, 77, 0.3);
$shadow-2: rgba(55, 199, 187, 0.3);
$shadow-3: rgba(233, 85, 93, 0.35);
$shadow-4: rgba(240, 220, 168, 0.5);
$shadow-5: rgba(255, 255, 255, 0.5);
$shadow-6: rgba(31, 31, 31, 0.1);
$shadow-7: rgba(255, 255, 255, 0.76);
$shadow-8: rgb(31, 31, 31, 0.3);
$shadow-9: hsl(206 22% 7% / 35%) 0px 10px 38px -10px;
$shadow-10: hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
$shadow-11: rgba(13, 13, 13, 0.1);
$shadow-12: rgb(31, 31, 31, 0.1);
